@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.button__cluster {
	font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    display: flex;
    flex-wrap: wrap;

    margin-bottom: 30px;
}

.button__cluster__left {
    display: flex;
    position: relative;
    width: 50%;
    top: 0;
    left: 0;
    
}

button {
    width: 50px;
    height: 50px;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    border-radius: .5rem;
    font-family: inherit;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    background-color: rgba(180, 184, 187, .7);
    text-transform: uppercase;

    -webkit-appearance: button;

    -webkit-transition: all .2s;
    transition: all 1s;

    border: 0;
    outline: 0;
    cursor: pointer;

    overflow: visible;
}

.button__new__image {
    background: rgba(180, 184, 187, .7) url(img/update-button.svg) no-repeat bottom;
    margin-right: 20px;
}

.button__new__image:hover {
    background-color: #000;
}

.spinner {
    width: 25px;
    height: 25px;
    background: url(img/spinner.svg) 50% no-repeat;

}

.spinner:hover {
    animation: spinner 1.4s ease-in-out;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}


.language__buttons {
    display: flex;

    font-family: 'Montserrat', sans-serif;
    font-weight: 700;

    margin-right: 20px;
}
.button__en {
    font-size: 15px;

    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;  
}

.button__ru {
    font-size: 15px;

    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;  
}

.button__ru:hover {
    background-color: #000;
}

.button__en:hover {
    background-color: #000;
}

.degrees__buttons {
    display: flex;

    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.button__F {
    font-size: 15px;

    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;  
}

.button__C {
    font-size: 15px;

    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;  
}

.button__C:hover {
    background-color: #000;
}

.button__F:hover {
    background-color: #000;
}

.button__cluster__right {
    width: 50%;
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.search__form {
    
    display: flex;
}

.input__search {
    background: rgba(76, 82, 85, .7);
    border: .1rem solid rgba(180, 184, 197, .7);
    border-radius: .5rem;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px; 

    border-right: 0px;

    padding: 0 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: #fff;

    outline: none;
}

.input__search::-webkit-input-placeholder {
    color: #fff;
}

.button__micro {
    border-top: 1px solid rgba(180, 184, 197, .7);
    border-bottom: 1px solid rgba(180, 184, 197, .7);
    background: rgba(76, 82, 85, .7) url(img/microphone.svg) no-repeat center;
    border-radius: 0px;
}

#button__search {
    width: 9rem;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;  
}

.button__micro:hover {
    background: #000 url(img/microphone.svg) no-repeat center;
}


#button__search:hover {
    background-color: #000;
}

.date {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 700;
}

.time {
    font-size: 30px;
    font-weight: 400;
}

.currWeather {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    display: flex;
    align-items: center;
    margin-left: 30px;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.temprature {
    width: 45%;
    font-weight: 700;
    font-size: 300px;
}

.weather_atributes {
    width: 55%;
    display: flex;
    font-size: 100px;
}


.weather__Forecast__section {
    display: flex;
    flex-wrap: wrap;
    font-size: 40px;
  
    justify-content: space-between;
}

.weather__forecast {
    font-family: 'Montserrat', sans-serif;
   
}



.weatherForecast__info {
    display: flex;
    justify-content: center;
}

.weatherForecast__temp {
    font-size: 50px;
    font-weight: 700;
}


.main {
    display: flex;
    
}

.weather {
    width: 60%;
    
}

.map__container {
    width: 40%; 
    border: 2px solid #000; 
    margin: 120px 80px;
    border-radius: 10px;
}

.map {
    border-radius: 10px;
    width: 100%;
    height:100%;
}

.coords {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.overlay {

    position: absolute;
    width: 100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
   

  }


